body {
  font-family: sans-serif;
  font-size: .7rem;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }
}

.appRoot {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #dddddd;
  padding: 8px;
  overflow-y: auto;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.flagGroup {
  h2 {
    font-size: 1em;
    font-weight: bold;
  }

  li {
    list-style: none;
  }

  margin-bottom: 16px;
}

.regionList {
  .regionInfo {
    .port {
      .connected {
        color: #008000;
      }

      .disconnected {
        color: #800000;
      }
    }
  }

  margin: 8px;
}

.portInfo {
  display: flex;
  flex-direction: row;

}